### Disclaimer : 
##### Data direcly taken from Marvel.com Character Index which includes "team" names and are not technically superhero names. Its hard to manually check and remove them all, so I am ignoring such inconsistencies

### Import Names

In [39]:
import pandas as pd
# Read the CSV file into a pandas data frame (df)
heros = pd.read_csv('rawHeroNames.csv', delimiter=',' ,header=None)

### Dataset Size

In [40]:
#number of super heros
heros.size

1491

### Lets have a look at few heros

In [41]:
heros.sample(10)

                                               0
187   Captain America (LEGO Marvel Super Heroes)
1187                     Spider-Man (Ben Reilly)
578                          Iron Man (Ultimate)
1119                                 Shatterstar
256                               Crimson Dynamo
1331                      Titanium Man (Topolov)
1306                                       Thing
323                                  Doctor Doom
717                                   M.O.D.A.M.
229                                         Chat

### oops! Gotta get rid of those extra info in brackets and strip trailing spaces that are left

In [42]:
heros=heros[0].str.split("(",expand=True)
heros=heros[0].str.split("/",expand=True)

#strip space XXX" ""(YYY)-->XXX and not XXX" "
heros=pd.DataFrame(heros[0])
heros=heros[0].str.strip()
heros=pd.DataFrame(heros)

In [43]:
heros[0][800:]

800                      MI: 13
801                       Micro
802                     Microbe
803                   Microchip
804                    Micromax
805                    Midnight
806                        Miek
807            Mikhail Rasputin
808             Millenium Guard
809            Millie the Model
810                       Mimic
811                    Mindworm
812                  Miracleman
813                Miss America
814                 Mister Fear
815             Mister Sinister
816             Mister Sinister
817             Mister Sinister
818             Mister Sinister
819                Misty Knight
820                 Mockingbird
821            Moira MacTaggert
822            Moira MacTaggert
823                        Mojo
824                    Mole Man
825                Molecule Man
826                 Molly Hayes
827         Molly Von Richtofen
828                  Molten Man
829                    Mongoose
                 ...
1461              Wrecking Crew
1462                       X-23
1463                       X-51
1464                   X-Babies
1465                 X-Cutioner
1466                   X-Factor
1467    X-Factor Investigations
1468                    X-Force
1469                      X-Man
1470                      X-Men
1471                      X-Men
1472                      X-Ray
1473                   X-Statix
1474                     X.S.E.
1475                      Xavin
1476                       Xorn
1477                Yellow Claw
1478               Yellowjacket
1479             Young Avengers
1480                Young X-Men
1481                   Zaladane
1482                      Zaran
1483                      Zarda
1484                      Zarek
1485                   Zeigeist
1486                       Zemo
1487                     Zodiak
1488                     Zombie
1489                      Zuras
1490                      Zzzax
Name: 0, Length: 691, dtype: object

### Fixed? Not yet, Unfortunately we have more than 1 actors for each Hero. So, lets remove dups

In [44]:
print "before :" ,heros.size
heros = heros.drop_duplicates()
print "after :" , heros.size

before : 1491
after : 1251

### What to do about special chars, Caps, Spaces? We can take care of them during training 
### We have ara"ñ"a which when read as chars we get \xb1 \xc3 so lets rename it now

In [45]:
print heros[0][58]
heros[0][58]='Arana'
print heros[0][58]

Araña
Arana

In [46]:
heros.to_csv("SuperHeroCorpus.txt",sep='\n', encoding='utf-8', index=False, header=None)

### We now have a dataset of 1257 names.... It would be cool if we could visulaize the words and their 

### similarity, patterns?

### Let's create our own Super Hero!